section.books{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
}

.books>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.books>div>img{
    height: 40%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.books>div>div{
    height: 60%;
    background: transparent linear-gradient(180deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;
    border-radius: 0 0 1em 1em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-section{
    display: flex;
    justify-content: space-between;
}


.in-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: transparent linear-gradient(0deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;*/
    /*border-radius: 0 1em 1em 0;*/
    color: black;
    font-size: 1em;
}

.button-add{
    border: 2px solid black;
    border-radius: 1em;
    margin: 0.5em auto;
    text-align: center;
    letter-spacing: 0.7px;
    color: black;
    padding: 0.2em;
    font: normal normal normal 20px/30px Segoe UI;
}

.button-add:hover{
    background: lightgreen;
}

section.book-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-form>form{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-device-width: 420px) {
    main {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .in-all {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        height: 9%;
        justify-content: center;
        border: 2px solid black;
        border-radius: 2em;
    }

    .in-all > div a {
        background: #35CF1D;
    }

    section.books {
        height: 91%;
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;
        padding: 0.5em;
        overflow: auto;
    }

    section.books > div p {
        display: none; /*nie zajmuje miejsca*/
    }

    .books > div {

    }

    .books > div > img {
        height: 60%;
        object-fit: cover;
        margin: 0;
    }

}