section.my_books{
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    overflow: auto;
}

.my_books>div>img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
}

.info{
    height: 100%;
    width: 20%;
    background: transparent linear-gradient(180deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;
    text-align: center;
}

.info a{
    display: none;
}

.info h3{
    display: none;
}

.notes{
    height: 100%;
    width: 60%;
    background: transparent linear-gradient(180deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;
    border-radius: 0 1em 1em 0;
}

.notes>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.notes>div p {
    margin: 10px;
    overflow: auto;
}

.my_books>div{
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.my_books>div>div>form>input{
    background: #35CF1D;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 1.5em;
    padding: 0.5em;
    margin: 1em;
    box-sizing: border-box;
}

.my_books>div>div>form{
    position: absolute;
    bottom: 0;
}

.my_books>div>div{
    position: relative;
}

.recommended{
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: center;
}

.recommended>div{
    height: 80vh;
}

@media only screen and (max-device-width: 420px) {
    main {
        width: auto;
    }

    .recommended>div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;
        padding: 0.5em;
        overflow: auto;
    }

    .recommended h1 {
        margin: 0;
    }

    .recommended>div>div {
        height: 300px;
        border: 2px solid black;
        border-radius: 1em;
    }

    .recommended>div>div>div h3, p {
        display: none;
    }

    .recommended{
        width: auto;
        height: 25%;
        border: 2px solid black;
        border-radius: 1em;
    }

    section.my_books {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my_books>div {
        width: 100%;
    }

    .info h3 {
        display: block;
    }

    .info input {
        display: none;
    }
    
    .info a {
        display: block;
        height: 1em;
        width: 50%;
    }

    .notes{
        display: none;
    }

    .info {
        width: 55%;
        border-radius: 0 1em 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .my_books>div>img {
        width: 45%;
        object-fit: cover;
        margin: 0;
    }
}


