.people{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
    color: white;
}

.people>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-books>img {
    width: 4em;
    height: 4em;
}

.personal-info>img{
    width: 5.5em;
    height: 5.5em;
    border-radius: 100%;
}

.personal-info{
    background: transparent linear-gradient(180deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;
    border-radius: 1em 1em 0 0;
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.example-books{
    background: transparent linear-gradient(180deg, #1F7A11 0%, #103D09 100%) 0% 0% no-repeat padding-box;
    border-radius: 0 0 1em 1em;
    width: 100%;
    height: 50%;
    text-align: center;
}

.in-people{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.not-friends-yet>div>img{
    width: 4em;
    height: 4em;
    border-radius: 100%;
    margin: 0 0.5em 0 0.5em;
}

.not-friends-yet>div{
    padding: 0.2em;
    border: 3px solid #707070;
    border-radius: 1em;
    margin: 0.1em;
    background: transparent linear-gradient(180deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.not-friends-yet{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-device-width: 420px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .in-people {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30%;
        border: 2px solid black;
    }

    .not-friends-yet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        padding: 5px;
        overflow: auto;
    }

    section.people {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        padding: 1em;
        overflow: auto;
        color: white;
    }

    .example-books>img {
        margin: 0;
    }
}

