.settings{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings i{
    font-size: 1.5em;
}

.user{
    border: 2px solid gray;
    width: 98vw;
    height: 100%;
    margin: 0 0em 0.5em 0em;
    border-radius: 3em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button-out{
    border: 2px solid black;
    border-radius: 1em;
    margin: 0.5em auto;
    text-align: center;
    letter-spacing: 0.7px;
    color: black;
    padding: 0.2em;
    height: 5%;
    width: 30%;
    font: normal normal normal 20px/30px Segoe UI;
}

.button-out:hover{
    background: lightgreen;
}

.user>div>img{
    border-radius: 100%;
    width: 25em;
    height: 25em;
}

.user-info{
    /*border: 2px solid black;*/
    width: 30%;
    text-align: center;
    color: green;
    font: normal normal normal 30px/40px Arial;
}

.name,
.user-personal-info{
    border-bottom: 2px solid forestgreen;
}

@media only screen and (max-device-width: 420px) {
    .user>div>img {
        width: 15em;
        height: 15em;
    }

    .user {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .user>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user>div a{
        text-decoration: none;
    }

    .settings>a{
        height: 2em;
        background: #35CF1D;
    }

    .settings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}