@media only screen and (max-device-width: 420px) {
    .my_book {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .my_book>div {
        width: 100%;
        height: 97%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        border: 3px solid black;
        color: black;
        border-radius: 100px;
    }

    .my_book>div>img {
        width: 10em;
        height: auto;
        margin: 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info>input {
        border: 3px solid black;
        color: black;
    }

    .notes {
        width: 90%;
        background: transparent linear-gradient(180deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
        margin: 0;
        border-radius: 100px;
    }

    .notes>p {
        margin: 5px;
    }
}