body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 80%;

    background: #FFFFFF8C 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 50px;/*95px*/
}

.no-valid{
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

button {
    background: #35CF1DD4 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 47px;

    line-height: 2.5em;
    width: 50%;
    border: none;
    color: white;
    margin: 1em;
}

input, textarea {
    padding: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    margin: 1em;
    width: 50%;
}

.base-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

nav{
    width: 100%;
    height: 12vh;
    background: transparent linear-gradient(180deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav>img{
    width: 20%;
    margin: auto 2em;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1em;
}

.button,
.regis{
    border: 1px solid white;
    border-radius: 1em;
    margin: auto 2em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2em;
    height: 50%;
    width: 7em;
}

.button:hover{
    background: darkgreen;
}

ul{
    list-style-type: none;
    color: white;
    font: normal normal normal 20px/30px Segoe UI;
    height: 100%;
    margin: auto;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    height: 88vh;
}

aside{
    width: 20vw;
    border-right: 3px solid #707070;
    padding: 0.5em;

    display: flex;
    justify-content: center;
}

.search-bar>input{
    /*background: transparent linear-gradient(180deg, #35CF1D14 0%, #1B680F 100%) 0% 0% no-repeat padding-box;*/
    /*background: transparent linear-gradient(180deg, #35CF1D 0%, #1B680F 100%) 0% 0% no-repeat padding-box;*/
    background: #35CF1D;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 1.5em;
    padding: 0.5em;
    margin: 1em;
    box-sizing: border-box;
    width: 60%;
}

.search-bar i{
    font-size: 1.5em;
    vertical-align: middle;
}

::placeholder{
    color: white;
}

.regis{
    height: 2em;
    width: 50%;
    border-radius: 1em;
    border: 3px solid #707070;
    color: black;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .logo, .login-container {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 4.5em;
        margin: 1.5em;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav > img {
        width: 400px;
        margin: auto 0.2em;
    }

    a {
        text-decoration: none;
        line-height: 0.5em;
    }

    li i {
        font-size: 1em;
    }

    .button {
        margin: 0;
        width: 220px;
    }
}





